USE [universiteOtomasyon]
GO
ALTER TABLE [dbo].[NotGiris] DROP CONSTRAINT [FK__Kayitlar__Ogrenc__5165187F]
GO
ALTER TABLE [dbo].[NotGiris] DROP CONSTRAINT [FK__Kayitlar__DersID__52593CB8]
GO
ALTER TABLE [dbo].[Ders] DROP CONSTRAINT [FK__Ders__OgretimUye__4E88ABD4]
GO
/****** Object:  Table [dbo].[OgretimUyesi]    Script Date: 09/06/2025 02:41:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OgretimUyesi]') AND type in (N'U'))
DROP TABLE [dbo].[OgretimUyesi]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 09/06/2025 02:41:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ogrenci]') AND type in (N'U'))
DROP TABLE [dbo].[Ogrenci]
GO
/****** Object:  Table [dbo].[NotGiris]    Script Date: 09/06/2025 02:41:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NotGiris]') AND type in (N'U'))
DROP TABLE [dbo].[NotGiris]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 09/06/2025 02:41:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ders]') AND type in (N'U'))
DROP TABLE [dbo].[Ders]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 09/06/2025 02:41:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[DersID] [int] NOT NULL,
	[DersAdi] [nvarchar](100) NOT NULL,
	[Kredi] [int] NULL,
	[OgretimUyesiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotGiris]    Script Date: 09/06/2025 02:41:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotGiris](
	[OgrenciID] [int] NOT NULL,
	[DersID] [int] NOT NULL,
	[Vize] [float] NULL,
	[Final] [float] NULL,
	[Ortalama] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC,
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenci]    Script Date: 09/06/2025 02:41:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenci](
	[OgrenciID] [int] NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Bolum] [nvarchar](100) NULL,
	[Sinif] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgretimUyesi]    Script Date: 09/06/2025 02:41:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretimUyesi](
	[OgretimUyesiID] [int] NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Unvan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretimUyesiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD FOREIGN KEY([OgretimUyesiID])
REFERENCES [dbo].[OgretimUyesi] ([OgretimUyesiID])
GO
ALTER TABLE [dbo].[NotGiris]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Ders] ([DersID])
GO
ALTER TABLE [dbo].[NotGiris]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Ogrenci] ([OgrenciID])
GO
